p a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
p a:hover{
	text-decoration: none;
	color: #f2f2f2;
}
/* ::::::::::::::::::::::::::::::::: Boton 1 :::::::::::::::::::::::::::::::: */
.boton1{
	background-color: #40e03b;
	font-family:'Open Sans',sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #ffffff;
	position: relative;
	padding:10px 20px;
	border-left:solid 1px #09a009;
	margin-left:35px;
	background-image: linear-gradient(bottom,rgb(49,202,44)0% rgb(35,146,25)100%);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: inset 0px 1px 0px #2aec34, 0px 5px 0px 0px #158515, 0px 10px 5px #999;
}

.boton1:active{
	top:3px;
	background-image: linear-gradient(bottom,rgb(49,202,44)0% rgb(35,146,25)100%);
	box-shadow: inset 0px 1px 0px #2aec34, 0px 2px 0px 0px #158515, 0px 5px 3px #999;
}

.boton1::before{
	background-color: #b42525;
	content:"1";
	width:35px;
	max-height: 40px;
	height: 100%;
	position:absolute;
	display: block;
	padding-top: 8px;
	top:0px;
	left: -36px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0px #6e0707;
	border-right: solid 1px #6e0707;
	background-image: linear-gradient(bottom,rgb(125,10,10)0%,rgb(184,14,14)100%);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: inset 0px 1px 0px #ec2a2a, 0px 5px 0px 0px #3a0303,0px 10px 5px #999;
}

.boton1:active::before{
	top:-3px;
	box-shadow: inset 0px 1px 0px #ec2a2a,0px 5px 0px 0px #3a0303, 1px 1px 0px 0px #640404, 2px 2px 0px 0px #640404,2px 5px 0px 0px #640404,6px 4px 2px #0b8b20,0px 10px 5px #999;
}
/* _:::::::::::::::::::::::::::::::::  Boton 2 :::::::::::::::::::::::::::::::::::::::*/

.boton2{
	background-color: #40e03b;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	position: relative;
	padding: 10px 20px;
	padding-right:50px;
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px #2aec34, 0px 5px 0px 0px #158515, 0px 10px 5px #999;
}
.boton2:active{
	top:3px;
	background-image: linear-gradient(bottom,rgb(49,202,44)0% rgb(35,146,25)100%);
	box-shadow: inset 0px 1px 0px #2aec34, 0px 2px 0px 0px #158515, 0px 5px 3px #999;
}

.boton2::before{
	background-color: #b42525;
	background-image: url(../images/feliz.png);
	background-repeat: no-repeat;
	background-position: center center;
	content:"";
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -9px;
	border-radius: 50%;
	box-shadow: inset 0px 1px 0px #560505,0px 1px 0px #f06060;	
}

.boton2:active::before{
	top:50%;
	margin-top:-12px;
	box-shadow: inset 0px 1px 0px #f06060,0px 3px 0px #710e0e,0px 6px 3px #0a8815;
}